<%- include('../partials/header') %>

<h3>Add New Ticket Info for Flight Number <%= flight.flightNo %></h3>
<form action="/flights/<%= flight._id %>/ticket" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>price:</label>
    <input type="number" name="price" required pattern="\d[1-9]*">
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>